body {
  margin: 0;
  font-family: 'Space Grotesk', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', 'Menlo', 'Consolas', 'Courier New', monospace;
}
